body {
    background-color: #ffffff;
}

h1 {
    color: #000000;
    font-family: "Kavoon";
    font-size: 48px;
}

h5 {
    color: #000000;
    font-family: "Kavoon";
    font-size: 48px;
}

h6 {
    color: #000000;
    font-family: "Kavoon";
    font-size: 18px;
}

#container {
    position: absolute;
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
}

.header {
    width: 600px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
}

.guess {
    float: center;
    width: 600px;
    display: inline-block;
    color: #000000;
    font-family: "Futura", sans-serif;
    font-size: 42px;
    text-align: center;
    vertical-align: middle;
}

a:link {
    text-decoration: none;
    color: #e4e4e4;
}

a:visited {
    color: #e4e4e4;
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: none;
    color: red;
}