body {
    background-color: white;
}

h1 {
    color: black;
    font-family: "Fredoka One";
    font-size: 64px;
}

h2 {
    color: red;
    font-family: "Fredoka One";
    font-size: 64px;
}

h3 {
    color: green;
    font-family: "Fredoka One";
    font-size: 64px;
}

p {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#container {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.header {
    text-align: center;
    vertical-align: middle;
}

.guess {
    float: center;
    display: inline-block;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}